#head
    .head--left__logo
        | Workers_group

    //Основное меню
    .head--center__meny
        ul.meny--basis
            li.meny--basis__item
                a(href="#") О компании

            li.meny--basis__item
                a(href="#") Статьи

            li.meny--basis__item
                a(href="#") Вакансии

            li.meny--basis__item
                a(href="#") Контакты

    //Телефон и кнопка справа
    .head--right
        .head--right__number-phone
            | 8 800 222 33 00
        .head--right__button
            button(type="submit", value="Обратный звонок", name="back_call", class="btn waves-effect waves-light")
                i.material-icons
                | Обратный звонок