#second__meny
   ul.second__meny--nav
      li.second__meny--nav_item
         a(href="#") Кадровый и бухгалтерский аутсорсинг
      li.second__meny--nav_item
         a(href="#") Аутсорсинг персонала
      li.second__meny--nav_item
         a(href="#") Переезд
      li.second__meny--nav_item
         a(href="#") Такелажные работы