mixin article(title)
   .article
      .article-wrapper
         .slider__tab--item__text--title= title
         if block
            block
         else
            p No content provided
            a(href='')
               img(src="", alt="")

.slider
   include _second_meny

   .slider__tab
      #slider__tab--item_1.slider__tab--item
         .slider__tab--item__text
            +article('Кадровый и бухгалтерский аутсорсинг')
               p Как показывает современный опыт, на использование аутсорсинга в основном ориентируются руководители с прогрессивным образом мышления. Главным элементом этого образа является умение распределять полномочия и желание делиться ими.

      #slider__tab--item_2.slider__tab--item
         .slider__tab--item__text
            +article('Аутсорсинг персонала')
               p Как показывает современный опыт, на использование аутсорсинга в основном ориентируются руководители с прогрессивным образом мышления. Главным элементом этого образа является умение распределять полномочия и желание делиться ими.

      #slider__tab--item_3.slider__tab--item
         .slider__tab--item__text
            +article('Переезд')
               p Как показывает современный опыт, на использование аутсорсинга в основном ориентируются руководители с прогрессивным образом мышления. Главным элементом этого образа является умение распределять полномочия и желание делиться ими.

      #slider__tab--item_4.slider__tab--item
         .slider__tab--item__text
            +article('Такелажные работы')
               p Как показывает современный опыт, на использование аутсорсинга в основном ориентируются руководители с прогрессивным образом мышления. Главным элементом этого образа является умение распределять полномочия и желание делиться ими.
